.wrapper {
    display: grid;
    grid-template-columns: 25.6rem 1fr;
    align-items: flex-start;
    justify-content: center;
    gap: 3.2rem;

    padding: 0 1.6rem;
    margin: 3.2rem auto;

    width: 83.2rem;
}